= f.input :first_name, placeholder: t('addresses.first_name'), required: true
= f.input :last_name, placeholder: t('addresses.last_name'), required: true
= f.input :address, placeholder: t('addresses.address'), required: true
= f.input :city, placeholder: t('addresses.city'), required: true
= f.input :zip, placeholder: t('addresses.zip'), required: true
= f.input :country, prompt: t('addresses.country'), required: true
= f.input :phone_number, placeholder: t('addresses.phone_number'), required: true
