%tr
  %td
    %p.font-16= t('checkout.subtotal')
  %td
    %p.font-16= price_euro(current_order.subtotal_price)
- unless step == :address
  %tr
    %td
      %p.font-16= t('checkout.delivery')
    %td
      %p.font-16= price_euro(current_order.delivery&.price || 0.00)
%tr
  %td
    %p.font-16= t('checkout.coupon')
  %td
    %p.font-16= price_euro(current_order.discount)
%tr
  %td
    %strong.font-18= t('checkout.order_total')
  %td
    %strong.font-18= price_euro(current_order.total)