= f.input :first_name, placeholder: t('address.first_name')
= f.input :last_name, placeholder: t('address.last_name')
= f.input :address, placeholder: t('address.address')
= f.input :city, placeholder: t('address.city')
= f.input :zip, placeholder: t('address.zip')
= f.input :country, prompt: t('address.country')
= f.input :phone_number, placeholder: t('address.phone_number')
= f.submit t('address.save'), class: 'btn-submit btn primary'
