= simple_form_for resource, as: resource_name, url: registration_path(resource_name), method: :put do |f|
    = f.simple_fields_for address do |m|
        = m.input :first_name
        = m.input :last_name
        = m.input :address
        = m.input :city
        = m.input :zip
        = m.input :country
        = m.input :phone_number
        = m.button :submit, id: "#{address}_submit_id"

