%main.container.general-main-wrap
  .text-center
    %h3.general-login-title
      = t('.sign_up')
    = render 'devise/partials/social_buttons'
    %p.general-login-text
      = t('.or')
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html:{ class: 'general-form' }) do |f|
    .form-group.mb-30
      = f.input :email, wrapper_html: { class: 'email' }, label: t('.email_label'), placeholder: t('.email_placeholder')
    .form-group.mb-30
      = f.input :password, required: false, wrapper_html: { class: 'password' }, label: t('auth_user.password_label'), placeholder: t('.password_placeholder')
    .form-group.mb-30
      = f.input :password_confirmation, wrapper_html: { class: 'password_confirmation' }, label: t('.confirm_password_label'), placeholder: t('.confirm_password_label')
    .text-center
      = f.submit t('.sign_up'), wrapper_html: { class: 'btn btn-default mb-20' }, id: 'sign_up', method: :post
    %p.general-sign-text.text-center
      = t('.have_account')
      = link_to t('.log_in'), new_user_session_path
