%main.container.general-main-wrap
  .text-center
    %h3.general-login-title
      = t('.sign_up')
    = render 'devise/partials/social_buttons'
    %p.general-login-text
      = t('.or')
  = simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
    = f.input :email, autofocus: true
    = f.input :password
    = f.input :password_confirmation
    .text-center
      = f.button :submit, t('.sign_up'), id: 'sign_up'
    %p.general-sign-text.text-center
      = t('.have_account')
      = link_to t('.log_in'), new_user_session_path
