%main.container
  .row
    .col-md-5.mb-40
      .text-center
        %h3.general-subtitle= t('.returning_customer')
        = render partial: 'devise/sessions/login_form', locals: {resource: User.new, resource_name: 'user'}
    .col-md-5.col-md-offset-1.mb-60
      .text-center
        %h3.general-subtitle= t('.new_customer')
        =link_to user_facebook_omniauth_authorize_path, class: "general-login-icon", method: :post do
          %i.fa.fa-facebook-official
        %p.general-login-text= t('.or')
        = form_for(User.new, url: user_registration_path) do |f|
          .mb-40
            %p.mb-5= t('.quick_register')
            %p.general-info-text.font-12.mb-20= t('.password_later')
          #new_customer
          .mb-30
            = f.label :email, class: "control-label input-label"
            = f.email_field :email
            - password = Devise.friendly_token
            = f.hidden_field :password, value: password
            = f.hidden_field :password_confirmation, value: password
          .text-center
            = f.submit t('.continue_to_checkout'), class: 'button btn btn-default mb-20'
