.col-sm-3
  %h3.general-subtitle= "#{type.capitalize} #{t('.address')}"
  %p.general-address
    = "#{address.first_name} #{address.last_name}"
    %span.general-edit
      = link_to wizard_path(:address) do
        = t('.edit')
    %br
    = address.address
    %br
    = address.city
    = address.zip
    %br
    = address.country_name
    %br
    = "#{t('.phone')} #{address.phone_number}"
