= form_for(@user, url:  update_password_path, html: { class: 'general-form-md divider-lg-bottom pb-25' } )do |f|
  .form-group.mb-30
    = f.label :current_password, class: "control-label input-label"
    = f.password_field :current_password, class: "form-control"
  .form-group.mb-30
    = f.label :password, class: "control-label input-label"
    = f.password_field :password, class: "form-control"
  .form-group.mb-30
    = f.label :password_confirmation, class: "control-label input-label"
    = f.password_field :password_confirmation, class: "form-control"
  .general-text-align
    = f.submit t('settings.save'), class: 'btn btn-default mb-10', id: 'pass_btn'
