= simple_form_for(@password_form || PasswordForm.new, url: update_user_password_path, remote: true, method: :patch, namespace: 'address_form', defaults: { required: false }) do |f|
  .form-group.mb-30
    = f.input :old_password, label_html: { class: 'control-label input-label' }, placeholder: t('.old_password_placeholder'), label: t('.old_password_label')
  .form-group.mb-30
    = f.input :password, label_html: { class: 'control-label input-label' }, placeholder: t('.password_placeholder'), label: t('.password_label')
  .form-group.mb-40
    = f.input :password_confirmation, label_html: { class: 'control-label input-label' }, placeholder: t('.password_confirmation_placeholder'), label: t('.password_confirmation_label')
  .general-text-align
    = f.button :submit, t('.save'), style: 'btn-default mb-35'
