%main.container.general-main-wrap
  .text-center
    %h3.general-login-title
      = t('.title')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'general-form' }) do |f|
    = f.hidden_field :reset_password_token
    .form-group.mb-30
      = f.input :password, wrapper_html: { class: 'password' }, label: t('.password_label'), placeholder: t('.password_placeholder')
    .form-group.mb-40
      = f.input :password_confirmation, wrapper_html: { class: 'password_confirmation' }, label: t('.confirm_password_label'), placeholder: t('.confirm_password_label')
    = f.submit t('.change'), class: 'btn btn-default center-block mb-20'
