%main.container.general-main-wrap
  .text-center
    %h1.mb-30
      = t('.forgot_password')
    %p.general-password-text
      = t('.instructions_message')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "general-form" }) do |f|
    .mb-25
      = f.input :email, wrapper_html: { class: 'email' }, label: false, placeholder: t('.enter_email')
    .text-center
      = f.submit t('.email_instructions'), wrapper_html: { class: "btn btn-default mb-20" }, id: 'email_button'
    .text-center
      = link_to(t('.cancel'), new_user_session_path, wrapper_html: { class: 'in-gold-500 mb-20' })
