%main.container.general-main-wrap
  .text-center
    %h1.mb-30
      = t('auth_user.forgot_password')
    %p.general-password-text
      = t('forgot_password.instructions_message')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'general-form' }) do |f|
    .form-group.mb-25
      = f.input :email, class: 'form-control', placeholder: t('auth_user.email_placeholder'), autofocus: true, label: false
    .text-center
      %p#alert-message
        = alert
      = f.submit t('forgot_password.email_instructions'), class: 'btn btn-default center-block mb-20', id: 'forgot_password'

      = link_to(t('forgot_password.cancel'), new_user_session_path, class: 'in-gold-500 mb-20')
