%main.container
    #slider.carousel.slide{'data-ride': "carousel"}
        %ol.carousel-indicators
            - @latest_books.each_with_index do |_book, index|
                %li{class: " #{'active' if index.zero?}", 'data-target': "#slider", 'data-slide-to': "#{index}"}
        .carousel-inner{role: "listbox"}
            - @latest_books.each_with_index do |book, index|
                %div{class: "item #{'active' if index.zero?}"}
                    .row
                        .col-sm-5
                            .general-img-wrap
                                %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
                        .col-sm-7
                            .mb-60
                                %h1= book.title
                                %p.lead= book.description_short
                                %p.lead.small= book.author_name
                                .general-align
                                    %button.disabled.btn= t('.buttons.buy')
        %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
            %span.icon-prev{'aria-hidden': "true"}
            %span.sr-only Previous
        %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
            %span.icon-next{'aria-hidden': "true"}
            %span.sr-only Next
.container
    .jumbotron.text-center.mb-0
        %h2.h1= t('.greeting')
        .mb-res-50
            %p= t('.info')
        = link_to t('.buttons.start'), books_path, class: 'button btn btn-default'
    .mb-35
        %h3= t('.best')
        #best_sellers.row
            .col-sm-6.col-md-3
                .general-thumb-wrap
                    .thumbnail.general-thumbnail
                        %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
                        .thumb-hover
                            .general-thumb-link-wrap
                                %a.thumb-hover-link{href: "#"}
                                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                                %a.thumb-hover-link{href: "#"}
                                    %i.fa.fa-shopping-cart.thumb-icon
                .mb-35
                    .clearfix
                        %p.pull-right.font-16.in-gold-500 €28.50
                        %p.title.mr-55 Android Programming for Beginners
                    %span.divider-sm
                    %p.lead.small John Horton
            .col-sm-6.col-md-3
                .general-thumb-wrap
                    .thumbnail.general-thumbnail.disabled
                        %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
                        .thumb-hover
                            .general-thumb-link-wrap
                                %a.thumb-hover-link{href: "#"}
                                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                                %a.thumb-hover-link{href: "#"}
                                    %i.fa.fa-shopping-cart.thumb-icon
                .mb-35
                    .clearfix
                        %p.pull-right.font-16.in-gold-500 €28.50
                        %p.title.mr-55 Android Programming for Beginners
                    %span.divider-sm
                    %p.lead.small John Horton
            .col-sm-6.col-md-3
                .general-thumb-wrap
                    .thumbnail.general-thumbnail
                        %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
                        .thumb-hover
                            .general-thumb-link-wrap
                                %a.thumb-hover-link{href: "#"}
                                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                                %a.thumb-hover-link{href: "#"}
                                    %i.fa.fa-shopping-cart.thumb-icon
                .mb-35
                    .clearfix
                        %p.pull-right.font-16.in-gold-500 €28.50
                        %p.title.mr-55 Android Programming for Beginners
                    %span.divider-sm
                    %p.lead.small John Horton
            .col-sm-6.col-md-3
                .general-thumb-wrap
                    .thumbnail.general-thumbnail
                        %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
                        .thumb-hover
                            .general-thumb-link-wrap
                                %a.thumb-hover-link{href: "#"}
                                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                                %a.thumb-hover-link{href: "#"}
                                    %i.fa.fa-shopping-cart.thumb-icon
                .mb-35
                    .clearfix
                        %p.pull-right.font-16.in-gold-500 €28.50
                        %p.title.mr-55 Android Programming for Beginners
                    %span.divider-sm
                    %p.lead.small John Horton
