.col-xs-6.col-sm-3
    .general-thumb-wrap
        .thumbnail.general-thumbnail
            %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            .thumb-hover
                .general-thumb-link-wrap
                    = link_to(book_path(id: book), class: 'thumb-hover-link') do
                        %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                    = link_to order_items_path(order_item: { book_id: book.id, quantity: 1 }), method: :post, class: "thumb-hover-link" do
                        %i.fa.fa-shopping-cart.thumb-icon
    .general-thumb-info
        %p.title= book.title
        %p.font-16.in-gold-500
            = number_to_currency(book.price)
        %span.divider-sm
        %p.lead.small= book.author_full_name
