%main.container
  = link_to request.referer, class: 'general-back-link' do
    %i.fa.fa-long-arrow-left.mr-15
    = t('.buttons.back')
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = image_tag book.book_cover, alt:'', class: "img-responsive"
        .images.clearfix
          - book.book_images.each do |images|
            %a.img-link{href: "#"}
              = image_tag images.image_url(:small), class: 'img'
    .col-sm-6
      %h1.mt-res-0= book.title
      %p.lead.small= book.author_full_name
      .row
        = render 'order_items/form'
      .general-info-wrap.divider-lg
        %p= t('.description')
        %p.lead.small.line-height-2
          = book.medium_description
          %span.end-of-description-js{style: 'display:none'}
            = book.all_description
          - if book.description_truncate?
            = book.all_description
          - else
            = button_tag t('.buttons.read_more'), disabled: book.description_truncate?, class: 'btn-link in-gold-500 ml-10 read-more-js'  
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.publication_year')
          %p.lead.small.pull-right
            = book.publication_year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.dimensions_title')
          %p.lead.small.pull-right= book.dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.materials')
          %p.lead.small.pull-right= book.book_matarial
  .mb-80
    %h3= t('.review') + " (#{ @reviews.approved.count})"
    = render @reviews.approved
  - if user_signed_in?
    .mb-80
      %h3= t('.score')
      = render 'reviews/form'
