%tr
  %td
    .general-img-wrap-table
      = link_to order_item.book do
        -# order_item.book.covers.first.variant
        
        = image_tag order_item.book.decorate.book_cover, class: "cart-img-shadow pull-left"
  %td
    = link_to order_item.book.title, order_item.book, class: 'title'
  %td
    %span.font-16.in-gold-500= number_to_currency(order_item.book.price)
  %td
    .input-group
      = form_for order_item, method: :put do |form|
        = link_to order_item_path(order_item, order_item: {quantity: -1}), class: 'input-link', method: :put do
          %i.fa.fa-minus.line-heaght-40
        = form.text_field :quantity, value: order_item.quantity, class: 'form-control quantity-input'
        = link_to order_item_path(order_item, order_item: {quantity: 1}), class: 'input-link', method: :put do
          %i.fa.a.fa-plus.line-heaght-40
  %td
    %span.font-16.in-gold-500= number_to_currency(order_item.book.price.to_d * order_item.quantity.to_d)
  %td
    = link_to order_item_path(order_item), class: 'button close delete-order-item', method: :delete do
      %span{'aria-hidden': "true"} &times;
