%tr.cart-line-item
  %td
    .general-img-wrap-table
      = link_to url_for(cart_item_line.book) do
        = image_tag cart_item_line.book.decorate.main_cover_url, alt: 'design-book', class: 'cart-img-shadow pull-left'
  %td
    %p.title
      = link_to cart_item_line.book.name, url_for(cart_item_line.book)
  %td
    %span.font-16.in-gold-500.cart-item-price
      = cart_item_line.book.decorate.price_show
  %td
    - if editable
      = render partial: 'cart_items/counter', object: cart_item_line
    - else
      = cart_item_line.quantity
  %td
    %span.font-16.in-gold-500.cart-item-sub-total
      = humanized_money_with_symbol cart_item_line.decorate.sub_total
  - if editable
    %td
      = button_to cart_item_path(cart_item_line.id), method: 'delete', remote: true, class: 'close general-cart-close' do
        %span{ 'aria-hidden': 'true' } &times;
