.general-cart-item.divider-lg-bottom#cart-items-grid
  %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
    %span{'aria-hidden': "true"} &times;
  .general-img-wrap-table
    = image_tag cart_item_grid.book.decorate.main_cover_url, alt: 'design-book', class: 'cart-img-shadow'
  %p.title
    = link_to cart_item_grid.book.name, url_for(cart_item_grid.book)
  %table.table
    %tr
      %td
        %span.in-grey-600
          = t('.price')
      %td
        %span.font-16.in-gold-500
          = cart_item_grid.book.decorate.price_show
    %tr
      %td.vertical-middle
        %span.in-grey-600
          = t('.quantity')
      %td
        - if editable
          = render partial: 'cart_items/counter', object: cart_item_grid
        - else
          = cart_item_grid.quantity
    %tr
      %td
        %span.in-grey-600
          = t('.sub_total')
      %td
        %span.font-16.in-gold-500
          = humanized_money_with_symbol cart_item_grid.decorate.sub_total
