= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.input :email, autofocus: true
    = f.input :password
    = link_to t('.forgot_password'), new_user_password_path, class: 'help-block in-gold-500'
    .form-group.checkbox.text-center.mb-30
        %label.checkbox-label
            = f.check_box :remember_me, hidden: 'true' , class: 'checkbox-input'
            %span.checkbox-icon
                %i.fa.fa-check
            %span.checkbox-text= t('.remember_me')
    = f.button :submit, t('.log_in'), id: 'log_in_button'
