%main.container.general-main-wrap
  .text-center
    %h3.general-login-title
      = t('.log_in')
    = link_to(user_facebook_omniauth_authorize_path, class: 'general-login-icon') do
      %i.fa.fa-facebook-official
    %p.general-login-text
      = t('.or') 
      = render 'devise/sessions/login_form'
  %p.general-sign-text.text-center
    = t('.dont_have_account')
    = link_to t('.sign_up'), new_user_registration_path, class: 'in-gold-500'
