%main.container.general-main-wrap
  .text-center
    %h3.general-login-title
      = t('.log_in')
    = render 'devise/partials/social_buttons'
    %p.general-login-text
      = t('.or')
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'general-form' }, validate: true ) do |f|
    = f.label :email, t('.email_label')
    = f.input :email, label: false, autofocus: true, placeholder: t('.email_placeholder')
    = f.label :passowrd, t('.password_label')
    = f.input :password, label: false, placeholder: t('.password_placeholder')
    = link_to t('.forgot_password'), new_user_password_path, class: 'help-block in-gold-500', id: t('.forgot_password')

    .form-group.checkbox.text-center.mb-30
      %label.checkbox-label
        = f.input :remember_me, as: :boolean, class: 'checkbox-input', hidden: 'true', id: 'remember_me'
    .text-center
      = f.submit t('.log_in'), class: 'btn btn-default mb-20', id: 'log_in'
  %p.general-sign-text.text-center
    = t('.dont_have_account')
    = link_to t('.sign_up'), new_user_registration_path, class: 'in-gold-500', id: 'sign_up'
