%p
  = t('.hello_message', email: @resource.email)
%p
  = t('.reset_password_message')
%p
  = link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token)
%p
  = t('.ignore_mail_message') 
%p
  = t('.password_information')
