!!!
%html
  = render 'partials/head'
  %body
    - if current_page?( root_url)
      = render 'partials/header', cached: true
    - if current_page?( books_path)
      = render 'partials/header', cached: true
    - if current_page?(login_index_path)
      = render 'signup/partials/header'
    - if current_page?(signup_index_path )
      = render 'signup/partials/header'
    - if current_page?(new_password_index_path )
      = render 'signup/partials/header'
    - if current_page?(reset_password_index_path )
      = render 'signup/partials/header'


    
    %p.notice= notice
    %p.alert= alert
    = yield
    = render 'partials/footer', cached: true
