!!!
%html
  = render 'partials/head'
  %body
    = render 'partials/header', cached: true

    = button_to 'Logout', destroy_user_session_path, method: :delete

    = button_to 'Login', new_user_session_path
    = link_to 'Sign up', new_user_registration_path


    = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post
    
    -# = button_to 'Sign up', new_user_registration_path

    -# - unless current_user
    -#   = link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path
    -# - else
    -#   = link_to “Logout”, destroy_user_session_path, method: :delete

  
    %p.notice= notice
    %p.alert= alert
    = yield
    = render 'partials/footer', cached: true
