!!!
%html
  = render 'partials/head'
  %body
    - if current_page?( root_url)
      = render 'partials/header', cached: true
    - if current_page?( books_path)
      = render 'partials/header', cached: true
    - if current_page?(login_index_path)
      = render 'signup/partials/header'
    - if current_page?(signup_index_path )
      = render 'signup/partials/header'
    - if current_page?(new_password_index_path )
      = render 'signup/partials/header'
    - if current_page?(reset_password_index_path )
      = render 'signup/partials/header'

    = link_to 'Sign up', new_user_registration_path
    = link_to 'Login', new_user_session_path
    - unless current_user
      = link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path
    - else
      = link_to “Logout”, destroy_user_session_path, method: :delete

    
    %p.notice= notice
    %p.alert= alert
    = yield
    = render 'partials/footer', cached: true
